# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.cs]
indent_size = 4

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# VSTHRD002: Avoid problematic synchronous waits
dotnet_diagnostic.VSTHRD002.severity = none

# VSTHRD105: Avoid method overloads that assume TaskScheduler.Current
dotnet_diagnostic.VSTHRD105.severity = none

# VSTHRD011: Use AsyncLazy<T>
dotnet_diagnostic.VSTHRD011.severity = none

# VSTHRD110: Observe result of async calls
dotnet_diagnostic.VSTHRD110.severity = none

# VSTHRD103: Call async methods when in an async method
dotnet_diagnostic.VSTHRD103.severity = none

[*.{yml,yaml}]
indent_size = 2
