# Fix line endings in Windows. (runs before repo cloning)
init:
  - git config --global core.autocrlf true
test: off # this turns of AppVeyor automatic searching for test-assemblies, not the actual testing
build_script:
  - build.cmd
artifacts:
  - path: artifacts/*.zip
deploy:
  - provider: GitHub
    tag: $(APPVEYOR_REPO_TAG_NAME)
    auth_token:
      secure: YW4vAIFrVIdyKBNxyVGWGKHP2UejoZcTcD0cf7KYEgZefUWY2XFHjetDW4Q0cICx
    artifact: /.*\.zip/
    on:
      appveyor_repo_tag: true
