<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
        <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
    </packageSources>
    <packageSourceMapping>
        <clear />
        <packageSource key="NuGet">
            <package pattern="Antlr4.*" />
            <package pattern="BenchmarkDotNet" />
            <package pattern="BenchmarkDotNet.*" />
            <package pattern="Cake.*" />
            <package pattern="DiffPlex" />
            <package pattern="Dotnet.Script.*" />
            <package pattern="Gee.External.Capstone" />
            <package pattern="Humanizer.Core" />
            <package pattern="ICSharpCode.Decompiler" />
            <package pattern="McMaster.Extensions.CommandLineUtils" />
            <package pattern="MediatR" />
            <package pattern="microsoft.*" />
            <package pattern="Nerdbank.Streams" />
            <package pattern="NETStandard.Library" />
            <package pattern="Newtonsoft.Json" />
            <package pattern="NuGet.*" />
            <package pattern="OmniSharp.*" />
            <package pattern="runtime.*" />
            <package pattern="SQLitePCLRaw.*" />
            <package pattern="system.*" />
            <package pattern="xunit*" />
            <package pattern="xunit.*" />
            <!-- Needed for CI -->
            <package pattern="GitVersion.CommandLine" />
            <!-- Needed for benchmarks and test projects -->
            <package pattern="CommandLineParser" />
            <package pattern="FSharp.Core" />
            <package pattern="Iced" />
            <package pattern="MSTest.*" />
            <package pattern="nunit" />
            <package pattern="NUnit3TestAdapter" />
            <package pattern="Perfolizer" />
            <package pattern="StyleCop.Analyzers" />
        </packageSource>
        <packageSource key="dotnet-tools">
            <package pattern="microsoft.*" />
            <package pattern="NuGet.*" />
        </packageSource>
        <packageSource key="dotnet6">
            <package pattern="microsoft.*" />
        </packageSource>
    </packageSourceMapping>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
