<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="cli-deps" value="https://dotnet.myget.org/F/cli-deps/api/v3/index.json" />    
  </packageSources>
  <disabledPackageSources>
    <add key="aspnetvnext" value="true" />
    <add key="aspnetcidev" value="true" />
    <add key="DbBenchmark" value="true" />
    <add key="DIPS" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
