<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetMaster" value="https://www.myget.org/F/aspnetmaster/api/v2" />
    <add key="AspNetRelease" value="https://www.myget.org/F/aspnetrelease/api/v2" />
    <add key="OmniSharp" value="https://www.myget.org/F/omnisharp/api/v2" />
    <clear />
    <add key="aspnet" value="https://www.myget.org/F/aspnetcidev/api/v2" />
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v2" />
    <add key="nuget" value="https://www.myget.org/F/nugetbuild/api/v2" />
    <add key="nuget.org" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
