<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AppVeyor NUnit CI Feed" value="https://ci.appveyor.com/nuget/nunit" />
    <add key="AppVeyor NUnit Engine CI Feed" value="https://ci.appveyor.com/nuget/nunit-console" />
    <add key="AppVeyor NUnit Adapter CI Feed" value="https://ci.appveyor.com/nuget/nunit3-vs-adapter" />
    <add key="NUnit MyGet Feed" value="https://www.myget.org/F/nunit/api/v2" />
  </packageSources>
</configuration>