<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- These packages are used for building and testing OmniSharp -->
    <package id="xunit.runner.console" version="2.4.0" />

    <!-- These packages are dependencies of the .NET Framework builds of OmniSharp running on Mono -->
    <package id="SQLitePCLRaw.bundle_green" version="2.1.0" />
    <package id="SQLitePCLRaw.core" version="2.1.0" />
    <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.1.0" />
</packages>
