<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="1.0.0-rc0001" />
    <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" />
    <package id="Microsoft.Build" version="16.9.0" />
    <package id="Microsoft.Build.Framework" version="16.9.0" />
    <package id="Microsoft.Build.Runtime" version="16.9.0" />
    <package id="Microsoft.Build.Tasks.Core" version="16.9.0" />
    <package id="Microsoft.Build.Utilities.Core" version="16.9.0" />
    <package id="Microsoft.Net.Compilers.Toolset" version="3.9.0-6.21124.20" />
    <package id="Microsoft.DotNet.MSBuildSdkResolver" version="6.0.100-preview.1.21109.12" />
    <package id="Microsoft.Build.NuGetSdkResolver" version="5.9.0-rc.7121" />
    <package id="Newtonsoft.Json" version="12.0.2" />
    <package id="NuGet.Build.Tasks" version="5.9.0-rc.7121" />
    <package id="NuGet.Commands" version="5.9.0-rc.7121" />
    <package id="NuGet.Common" version="5.9.0-rc.7121" />
    <package id="NuGet.Configuration" version="5.9.0-rc.7121" />
    <package id="NuGet.Credentials" version="5.9.0-rc.7121" />
    <package id="NuGet.DependencyResolver.Core" version="5.9.0-rc.7121" />
    <package id="NuGet.Frameworks" version="5.9.0-rc.7121" />
    <package id="NuGet.LibraryModel" version="5.9.0-rc.7121" />
    <package id="NuGet.Packaging" version="5.9.0-rc.7121" />
    <package id="NuGet.ProjectModel" version="5.9.0-rc.7121" />
    <package id="NuGet.Protocol" version="5.9.0-rc.7121" />
    <package id="NuGet.Versioning" version="5.9.0-rc.7121" />
    <package id="runtime.linux-x64.Microsoft.NETCore.DotNetHostResolver" version="6.0.0-preview.1.21102.12" />
    <package id="runtime.osx-x64.Microsoft.NETCore.DotNetHostResolver" version="6.0.0-preview.1.21102.12" />
    <package id="runtime.win-x64.Microsoft.NETCore.DotNetHostResolver" version="6.0.0-preview.1.21102.12" />
    <package id="runtime.win-x86.Microsoft.NETCore.DotNetHostResolver" version="6.0.0-preview.1.21102.12" />
    <package id="runtime.win-arm64.Microsoft.NETCore.DotNetHostResolver" version="6.0.0-preview.1.21102.12" />
    <package id="SQLitePCLRaw.bundle_green" version="2.0.4" />
    <package id="SQLitePCLRaw.core" version="2.0.4" />
    <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.0.4" />
    <package id="System.Buffers" version="4.5.1" />
    <package id="System.Collections.Immutable" version="5.0.0" />
    <package id="System.Memory" version="4.5.4" />
    <package id="System.Numerics.Vectors" version="4.5.0" />
    <package id="System.Resources.Extensions" version="4.7.1" />
    <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" />
    <package id="System.Text.Encodings.Web" version="4.7.1" />
    <package id="System.Text.Json" version="4.7.2" />
    <package id="System.Threading.Tasks.Dataflow" version="5.0.0" />
    <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
    <package id="xunit.runner.console" version="2.4.0" />
</packages>
