<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.37.0" />
    <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" />
    <package id="Microsoft.Build" version="16.8.0-preview-20475-05" />
    <package id="Microsoft.Build.Framework" version="16.8.0-preview-20475-05" />
    <package id="Microsoft.Build.Runtime" version="16.8.0-preview-20475-05" />
    <package id="Microsoft.Build.Tasks.Core" version="16.8.0-preview-20475-05" />
    <package id="Microsoft.Build.Utilities.Core" version="16.8.0-preview-20475-05" />
    <package id="Microsoft.Net.Compilers.Toolset" version="3.8.0-4.20480.4" />
    <package id="Microsoft.DotNet.MSBuildSdkResolver" version="5.0.100-rc.2.20480.5" />
    <package id="Microsoft.Build.NuGetSdkResolver" version="5.8.0-rc.6860" />
    <package id="Newtonsoft.Json" version="12.0.2" />
    <package id="NuGet.Build.Tasks" version="5.8.0-rc.6860" />
    <package id="NuGet.Commands" version="5.8.0-rc.6860" />
    <package id="NuGet.Common" version="5.8.0-rc.6860" />
    <package id="NuGet.Configuration" version="5.8.0-rc.6860" />
    <package id="NuGet.Credentials" version="5.8.0-rc.6860" />
    <package id="NuGet.DependencyResolver.Core" version="5.8.0-rc.6860" />
    <package id="NuGet.Frameworks" version="5.8.0-rc.6860" />
    <package id="NuGet.LibraryModel" version="5.8.0-rc.6860" />
    <package id="NuGet.Packaging" version="5.8.0-rc.6860" />
    <package id="NuGet.ProjectModel" version="5.8.0-rc.6860" />
    <package id="NuGet.Protocol" version="5.8.0-rc.6860" />
    <package id="NuGet.Versioning" version="5.8.0-rc.6860" />
    <package id="runtime.linux-x64.Microsoft.NETCore.DotNetHostResolver" version="5.0.0-rc.2.20475.5" />
    <package id="runtime.osx-x64.Microsoft.NETCore.DotNetHostResolver" version="5.0.0-rc.2.20475.5" />
    <package id="runtime.win-x64.Microsoft.NETCore.DotNetHostResolver" version="5.0.0-rc.2.20475.5" />
    <package id="runtime.win-x86.Microsoft.NETCore.DotNetHostResolver" version="5.0.0-rc.2.20475.5" />
    <package id="runtime.win-arm64.Microsoft.NETCore.DotNetHostResolver" version="5.0.0-rc.2.20475.5" />
    <package id="SQLitePCLRaw.bundle_green" version="1.1.2" />
    <package id="SQLitePCLRaw.core" version="1.1.2" />
    <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.2" />
    <package id="System.Buffers" version="4.5.1" />
    <package id="System.Collections.Immutable" version="1.7.1" />
    <package id="System.Memory" version="4.5.4" />
    <package id="System.Numerics.Vectors" version="4.5.0" />
    <package id="System.Resources.Extensions" version="4.7.1" />
    <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" />
    <package id="System.Text.Encodings.Web" version="4.7.1" />
    <package id="System.Text.Json" version="4.7.1" />
    <package id="System.Threading.Tasks.Dataflow" version="4.11.1" />
    <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
    <package id="xunit.runner.console" version="2.4.0" />
</packages>
